PORT=8080
HTTP_READ_HEADER_TIMEOUT=5
HTTP_READ_TIMEOUT=10
HTTP_WRITE_TIMEOUT=15
HTTP_IDLE_TIMEOUT=60
HTTP_SHUTDOWN_TIMEOUT=10

DB_HOST=localhost
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=secret
DB_NAME=card_transaction
DB_ENCRYPT=disable
DB_TRUST_SERVER_CERTIFICATE=true
DB_MAX_OPEN_CONNS=20
DB_MAX_IDLE_CONNS=10
DB_PING_TIMEOUT=5


# Configuração do ZENVIA
ZENVIA_API_TOKEN=
ZENVIA_API_URL=
ZENVIA_FROM=iP4y